
header{
    position: fixed;
    top: 0;
    

    background-color: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    height: 100px;
    width: 100%;
    color: #000;
}

body{
    margin: 0;
    padding: 0;
    border: none;
}


div.fundo{
    height: 325px;
    width: 100vh;
}

div.fundo{
    border: 1px solid black;
    width: 1700px;
    height: 500px;
    background-image: url(https://www.shutterstock.com/shutterstock/videos/31374607/thumb/1.jpg?ip=x480);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    border: 10px;
}

div.produto{
    border: 1px solid black;
    height: 250px;
    width: 190px;
    display: inline-block; 
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 20px;
}