header{
    background-color:#F9A03F;
    height: 100px;
    width: 100%; 
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

h1{
    text-align: right;
}

body{
    margin: 0;
    padding: 0;
    border: none;
}

div.fundo{
    height: 325px;
    width: 100vh;
}

div.fundo{
    border: 1px solid black;
    width: 1700px;
    height: 500px;
    background-image: url(img7-definitiva.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    border: 10px;
}

div.produto{
    border: 1px solid black;
    height: 250px;
    width: 19Z0px;
    display: inline-block; 
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 20px;
}